# Create new webhook and point it to a private channel.
# That channel acts as a administration channel.
# Set to `None` to disable integration.
SLACK_WEBHOOK_URL = None 

# Set a secret key for django.
# Don't use the default one in production!
SECRET_KEY = 'vqj39+4-mu!wog^vim84gkqj^8whj6(58ii@o)u1wa8=byo$61'
